@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.card-style {
  border-radius: 25px;
  background-color: #3f87f5;
}

.text-color {
  color: #848199;
}

.choose-plan-btn {
  background-color: #fff2fa;
  color: #3f87f5;
  font-weight: 700;
  font-size: 15px;
  width: 250px;
  border: none;
  border-radius: 25px;
  padding: 13px 25px;
}

footer {
  height: 280px;
}

/* Mobile Device */
@media only screen and (max-width: 688px) {
  .img-height {
    height: 250px;
  }
  .carousel-style h1 {
    font-size: 22px;
  }
  .carousel-style p {
    font-size: 13px;
  }
  footer > div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    font-size: 14px;
  }
}
